<h1><%= @movie.title %></h1>
<%= image_tag @rotten_poster, size: "100x150" %>
<h3>Rotten Tomatoes Score: <%= @rotten_score %>
<p><%= @movie.description %></p>

<%= link_to "Edit", edit_movie_path(@movie) %>

